[submodule "picviewer/_controller_/picviewer/mod/mtfPicViewer"]
	path = picviewer/_controller_/picviewer/mod/mtfPicViewer
	url = git@github.com:mantoufan/mtfPicViewer.git
[submodule "optimizer/_images_/optimizer/mtfBetter"]
	path = optimizer/_images_/optimizer/mtfBetter
	url = git@github.com:mantoufan/mtfBetter.git
