{{include file="public/header" /}}
<!-- right content start  -->
<div class="content-right">
    <div class="content">
        <legend>
            <span class="fs-16">图片查看器<sup>Y站</sup></span>
            <a href="{{:MyUrl('admin/pluginsadmin/index')}}" class="fr fs-14 m-t-5 am-icon-mail-reply"> 返回</a>
        </legend>
        {{$wga_tip | RAW}}
        <div class="picviewer-content">
            <div class="am-panel am-panel-secondary">
                <div class="am-panel-hd">
                    <span class="am-panel-title">基础配置</span>
                </div>
                <div class="am-panel-bd">
                    <div class="items">
                        <label>开关</label>
                        <div>
                            {{if isset($data['available']) && !empty($data['available'])}}已开启{{else /}}已关闭{{/if}}
                        </div>
                    </div>
                    <div class="items">
                        <label>最大宽度</label>
                        <div>
                            {{if isset($data['max_width']) && !empty($data['max_width'])}} {{$data.max_width}} {{else /}} 未填写 {{/if}}
                        </div>
                    </div>
                    <div class="items">
                        <label>背景色：固定值</label>
                        <div style="width:30px;height:30px;border-radius:5px;border:1px solid #999;background-color:{{if !empty($data['background_color'])}}{{$data.background_color}}{{else /}}#000{{/if}}"></div>
                    </div>
                    <div class="items">
                        <label>背景色：自动取色开关</label>
                        <div>
                            {{if isset($data['background_color_auto']) && !empty($data['background_color_auto'])}}已开启{{else /}}已关闭{{/if}}
                        </div>
                    </div>
                    <div class="items">
                        <label>关闭查看器：自动滚动定位开关</label>
                        <div>
                            {{if isset($data['scroll_auto']) && !empty($data['scroll_auto'])}}已开启{{else /}}已关闭{{/if}}
                        </div>
                    </div>
                </div>
            </div>
            <a href="{{:PluginsAdminUrl('picviewer', 'admin', 'saveinfo')}}" class="am-btn am-btn-secondary am-radius btn-loading-example am-btn-sm am-btn-block edit-submit">编辑</a>
        </div>
    </div>
</div>
<!-- right content end  -->
        
<!-- footer start -->
{{include file="public/footer" /}}
<!-- footer end -->