{{include file="public/header" /}}
<!-- right content start  -->
<div class="content-right">
    <div class="content">
        <!-- form start -->
        <form class="am-form form-validation view-save" action="{{:PluginsAdminUrl('picviewer', 'admin', 'save')}}" method="POST" request-type="ajax-url" request-value="{{:PluginsAdminUrl('picviewer', 'admin', 'index')}}" enctype="multipart/form-data">
           <legend>
                <span class="fs-16">图片查看器<sup>Y站</sup></span>
                <a href="{{:PluginsAdminUrl('picviewer', 'admin', 'index')}}" class="fr fs-14 m-t-5 am-icon-mail-reply"> 返回</a>
            </legend>
            {{$wga_tip | RAW}}
            <div class="am-panel am-panel-secondary">
                <div class="am-panel-hd">
                    <span class="am-panel-title">基础配置</span>
                </div>
                <div class="am-panel-bd">
                    <div class="am-form-group">
                        <label class="block">开关</label>
                        <input name="available" value="1" type="checkbox" data-off-text="否" data-on-text="是" data-size="xs" data-on-color="success" data-off-color="default" data-handle-width="50" data-am-switch {{if isset($data['available']) and $data['available'] eq 1}}checked="true"{{/if}} />
                    </div>
                    <div class="am-form-group">
                        <label>最大宽度</label>
                        <div>
                            <input type="text" name="maxwidth" placeholder="请带上单位：px或%等" class="am-radius" value="{{if !empty($data['maxwidth'])}}{{$data.maxwidth}}{{/if}}" />
                        </div>
                        <div>
                            帮助：<span class="am-form-group-label-tips">留空，默认100%，查看器会撑满整个窗口。设置最大宽度后，查看器会居中，宽度不会超过最大宽度。</span>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="am-form-group am-form-group-refreshing">
                <button type="submit" class="am-btn am-btn-primary am-radius btn-loading-example am-btn-sm am-btn-block" data-am-loading="{loadingText:'处理中...'}">保存</button>
            </div>
        </form>
        <!-- form end -->
    </div>
</div>
<!-- right content end  -->
        
<!-- footer start -->
{{include file="public/footer" /}}
<!-- footer end -->