{{if $conf['type'] eq 'plugins_common_header' }}
{{if $conf['isMobile'] && isset($data['css_mobile'])}}<style>{{:htmlspecialchars_decode($data['css_mobile'])}}</style>{{elseif  isset($data['css_pc'])}}<style>{{:htmlspecialchars_decode($data['css_pc'])}}</style>{{/if}}
{{elseif $conf['type'] eq 'title' }}
    {{if !$conf['isMobile'] && isset($data['available_fix']) && $data['available_fix']}}
        <a class="servicepro-btn servicepro-btn-fix servicepro-fix" data-am-modal="{target: '#js_servicepro_modal'}">
            <i class="am-icon-comments"></i>
            联系客服
        </a>
    {{/if}}
{{elseif $conf['type'] eq 'nav' }}
    {{if $conf['isMobile'] && isset($data['available_fix']) && $data['available_fix']}}
        <span class="nav-icon nav-icon-comments servicepro-fix" data-am-modal="{target: '#js_servicepro_modal'}">
            <i class="am-icon-comments am-icon-fw"></i>
            <em>客服</em>
        </span>
    {{/if}}
{{elseif $conf['type'] eq 'goods_bottom' }}
    {{if isset($data['available_fix']) && $data['available_fix']}}
        <div class="am-modal am-modal-no-btn servicepro-modal" id="js_servicepro_modal">
            <div class="am-modal-dialog">
            <div class="am-modal-hd">{{if !empty($data['title']) }}{{$data.title}}{{/if}}
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd"></div>
            </div>
        </div>
    {{/if}}
{{elseif $conf['type'] eq 'common_bottom' }}
    {{if isset($data['available_float']) && $data['available_float']}}
        <div class="servicepro" id="js_servicepro_sider" {{if isset($data['distance_top_float'])}} style="top:{{$data.distance_top_float}}%"{{/if}}>
            <div class="float-left" style="{{if !empty($data['bg_color_float'])}}background-color: {{$data.bg_color_float}};{{/if}}">
                <a class="btn-open" title="查看在线客服" href="javascript:void(0);">展开</a>
                <a class="btn-ctn" title="关闭在线客服" href="javascript:void(0);">收缩</a>
            </div>
            <div class="content" style="{{if !empty($data['bg_color_float'])}}background-color: {{$data.bg_color_float}};{{/if}}">
                <div class="cn"></div>
            </div>
        </div>
    {{/if}}
    <div class="servicepro-box" id="js_servicepro_box">
        {{if !empty($data['title'])}}
            <h3 class="title">{{$data.title}}</h3>
        {{/if}}
        {{if !empty($data['online_service'])}}
            <ul>
                {{foreach name=$data.online_service as $v}}
                    <li>
                        {{if !isset($v[2]) or strtolower($v[2]) eq 'qq'}}
                            {{if $conf['isMobile']}}
                                <a target="_blank" href="mqqwpa://im/chat?chat_type=wpa&uin={{$v[1]}}&version=1&src_type=web&web_src=shopxo.net">
                            {{else}}
                                <a target="_blank" href="https://wpa.qq.com/msgrd?v=3&amp;uin={{$v[1]}}&amp;site=qq&amp;menu=yes">
                            {{/if}}
                                <img border="0" src="https://pub.idqqimg.com/qconn/wpa/button/button_121.gif" alt="点击这里给我发消息" title="点击这里给我发消息">
                                <span>{{$v[0]}}</span>
                            </a>
                        {{elseif strtolower($v[2]) eq 'wangwang'}}
                            <a class="servicepro-btn-a servicepro-btn-a-wangwang" target="{{if $conf['isMobile']}}_self{{else}}_blank{{/if}}" data-clipboard-text="{{$v[1]}}" href="{{if $conf['isMobile']}}javascript:;{{else}}https://www.taobao.com/go/market/webww/ww.php?ver=3&touid={{$v[1]}}&siteid=cntaobao&status=1&charset=utf-8{{/if}}">
                                <img border="0" src="https://amos.im.alisoft.com/online.aw?v=2&uid={{$v[1]}}&site=cntaobao&s=2&charset=utf-8" alt="点击这里给我发消息" title="点击这里给我发消息">
                                <span contenteditable="true">{{if $conf['isMobile']}}{{$v[1]}}{{else}}{{$v[0]}}{{/if}}</span>
                            </a>
                        {{elseif strtolower($v[2]) eq 'weixin'}}
                            <a class="servicepro-btn-a servicepro-btn-a-weixin" data-clipboard-text="{{$v[1]}}" href="{{if $conf['isMobile'] AND !$conf['isMicroMessenger'] }}weixin://{{else}}javascript:;{{/if}}">
                                <i class="am-icon-weixin"></i>
                                <span contenteditable="true">{{$v[1]}}</span>
                            </a>
                        {{elseif strtolower($v[2]) eq 'tel'}}
                            <a class="servicepro-btn-a servicepro-btn-a-tel" data-clipboard-text="{{$v[1]}}" href="tel:{{$v[1]}}">
                                <i class="am-icon-phone"></i>
                                <span contenteditable="true">{{$v[1]}}</span>
                            </a>
                        {{/if}}
                    </li>
                {{/foreach}}
                {{if !empty($data['qrcodes_url'])}}
                    <div class="servicepro-qrcodes">
                    {{foreach $data['qrcodes_url'] as $qrcodes_url}}
                    <a href="{{$qrcodes_url}}" target="_blank">
                        <img src="{{$qrcodes_url}}" onerror='this.src="{{$attachment_host}}/static/plugins/images/servicepro/default-images.jpg"' class="am-radius"/>
                    </a>
                    {{/foreach}}
                    </div>
                {{/if}}
            </ul>
        {{/if}}
    </div>
    <script>
        var serviceproData = eval('(' + '{{:json_encode($data)}}' + ')'), serviceproConf = eval('(' + '{{:json_encode($conf)}}' + ')'), cacheVersion = '{{:MyC(\'home_static_cache_version\')}}';
    </script>
{{/if}}