{{include file="public/header" /}}
<!-- right content start  -->
<div class="content-right">
    <div class="content">
        <legend>
            <span class="fs-16">订单和发货通知<sup>M站 · Y站</sup></span>
            <a href="{{:MyUrl('admin/pluginsadmin/index')}}" class="fr fs-14 m-t-5 am-icon-mail-reply"> 返回</a>
        </legend>
        {{$wga_tip | RAW}}
        <div class="notice-content">
            <div class="am-panel am-panel-secondary">
                <div class="am-panel-hd">
                    <span class="am-panel-title">通用设置</span>
                </div>
                <div class="am-panel-bd">
                    <label>微信公众平台AppID</label>
                    <div>
                        {{if !empty($data['wxpub_appid'])}} {{$data.wxpub_appid}} {{else /}} 未填写 {{/if}}
                    </div>
                    <label>微信公众平台AppSecret</label>
                    <div>
                        {{if !empty($data['wxpub_appsecret'])}} {{$data.wxpub_appsecret}} {{else /}} 未填写 {{/if}}
                    </div>
                    <label>微信小程序AppID</label>
                    <div>
                        {{if !empty($data['wxamp_appid'])}} {{$data.wxamp_appid}} {{else /}} 未填写 {{/if}}
                    </div>
                    <label>微信小程序AppSecret</label>
                    <div>
                        {{if !empty($data['wxamp_appsecret'])}} {{$data.wxamp_appsecret}} {{else /}} 未填写 {{/if}}
                    </div>
                </div>
            </div>
            <div class="am-panel am-panel-secondary">
                <div class="am-panel-hd">
                    <span class="am-panel-title">新订单提醒</span>
                </div>
                <div class="am-panel-bd">
                    <div class="items">
                        <label>通知方式</label>
                        <div>
                            {{foreach $sms_bys as $v}}
                                {{if $v['value'] !== 'wxamp' and (!isset($data['neworder_by']) or isset($data['neworder_by']) and in_array($v['value'], explode(',', $data['neworder_by'])))}}{{$v['name']}}{{/if}} 
                            {{/foreach}}
                        </div>
                    </div>
                    <div class="items">
                        <label>接收提醒的手机号</label>
                        <div>
                            {{if !empty($data['neworder_sms_phone'])}} {{$data.neworder_sms_phone}} {{else /}} 未填写 {{/if}}
                        </div>
                    </div>
                    <div class="items">
                        <label>手机通知模版ID</label>
                        <div>
                            {{if !empty($data['neworder_sms_tpl'])}} {{$data.neworder_sms_tpl}} {{else /}} 未填写 {{/if}}
                        </div>
                    </div>
                    <div class="items">
                        <label>手机通知签名</label>
                        <div>
                            {{if !empty($data['neworder_sms_signname'])}} {{$data.neworder_sms_signname}} {{else /}} 未填写 {{/if}}
                        </div>
                    </div>
                    <div class="items">
                        <label>接收提醒的邮箱</label>
                        <div>
                            {{if !empty($data['neworder_mail_address'])}} {{$data.neworder_mail_address}} {{else /}} 未填写 {{/if}}
                        </div>
                    </div>
                    <div class="items">
                        <label>邮箱通知模版：标题</label>
                        <div>
                            {{if !empty($data['neworder_mail_tpl_title'])}} {{$data.neworder_mail_tpl_title}} {{else /}} 未填写 {{/if}}
                        </div>
                    </div>
                    <div class="items">
                        <label>邮箱通知模版：内容</label>
                        <div>
                            {{if !empty($data['neworder_mail_tpl_content'])}} {{$data.neworder_mail_tpl_content}} {{else /}} 未填写 {{/if}}
                        </div>
                    </div>
                    <div class="items">
                        <label>接收提醒的微信的OpenID</label>
                        <div>
                            {{if !empty($data['neworder_wxpub_openid'])}} {{$data.neworder_wxpub_openid}} {{else /}} 未填写 {{/if}}
                        </div>
                    </div>
                    <div class="items">
                        <label>微信公众号模版消息的模版ID</label>
                        <div>
                            {{if !empty($data['neworder_wxpub_tpl'])}} {{$data.neworder_wxpub_tpl}} {{else /}} 未填写 {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="am-panel am-panel-secondary">
                <div class="am-panel-hd">
                    <span class="am-panel-title">发货通知</span>
                </div>
                <div class="am-panel-bd">
                    <div class="items">
                        <label>通知方式</label>
                        <div>
                            {{foreach $sms_bys as $v}}
                                {{if !isset($data['asn_by']) or isset($data['asn_by']) and in_array($v['value'], explode(',', $data['asn_by']))}}{{$v['name']}}{{/if}} 
                            {{/foreach}}
                        </div>
                    </div>
                    <div class="items">
                        <label>手机通知模版ID</label>
                        <div>
                            {{if !empty($data['asn_sms_tpl'])}} {{$data.asn_sms_tpl}} {{else /}} 未填写 {{/if}}
                        </div>
                    </div>
                    <div class="items">
                        <label>手机通知签名</label>
                        <div>
                            {{if !empty($data['asn_sms_signname'])}} {{$data.asn_sms_signname}} {{else /}} 未填写 {{/if}}
                        </div>
                    </div>
                    <div class="items">
                        <label>邮箱通知模版：标题</label>
                        <div>
                            {{if !empty($data['asn_mail_tpl_title'])}} {{$data.asn_mail_tpl_title}} {{else /}} 未填写 {{/if}}
                        </div>
                    </div>
                    <div class="items">
                        <label>邮箱通知模版：内容</label>
                        <div>
                            {{if !empty($data['asn_mail_tpl_content'])}} {{$data.asn_mail_tpl_content}} {{else /}} 未填写 {{/if}}
                        </div>
                    </div>
                    <div class="items">
                        <label>微信公众号模版消息的模版ID</label>
                        <div>
                            {{if !empty($data['asn_wxpub_tpl'])}} {{$data.asn_wxpub_tpl}} {{else /}} 未填写 {{/if}}
                        </div>
                    </div>
                    <div class="items">
                        <label>微信小程序订阅消息的模版ID</label>
                        <div>
                            {{if !empty($data['asn_wxamp_tpl'])}} {{$data.asn_wxamp_tpl}} {{else /}} 未填写 {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            <a href="{{:PluginsAdminUrl('notice', 'admin', 'saveinfo')}}" class="am-btn am-btn-secondary am-radius btn-loading-example am-btn-sm am-btn-block edit-submit">编辑</a>
        </div>
    </div>
</div>
<!-- right content end  -->
<!-- footer start -->
{{include file="public/footer" /}}
<!-- footer end -->