{{include file="public/header" /}}
<!-- right content start  -->
<div class="content-right">
    <div class="content">
        <!-- form start -->
        <form class="am-form form-validation view-save" action="{{:PluginsAdminUrl('notice', 'admin', 'save')}}" method="POST" request-type="ajax-url" request-value="{{:PluginsAdminUrl('notice', 'admin', 'index')}}" enctype="multipart/form-data">
            <legend>
                <span class="fs-16">通知<sup>M站 · Y站 · <a href="https://yu.mantoufan.com/202005270951201853" target="_blank">图文教程</a></sup></span>
                <a href="{{:PluginsAdminUrl('notice', 'admin', 'index')}}" class="fr fs-14 m-t-5 am-icon-mail-reply"> 返回</a>
            </legend>
            {{$wga_tip | RAW}}
            <div class="am-panel am-panel-secondary">
                <div class="am-panel-hd">
                    <span class="am-panel-title">通用设置</span>
                </div>
                <div class="am-panel-bd">
                    <div class="am-form-group">
                        <label>微信公众平台AppID<span class="am-form-group-label-tips">通知方式为微信公众号时，必填 <a href="https://mp.weixin.qq.com" target="_blank">点此申请</a> </span></label>
                        <input type="text" name="wxpub_appid" placeholder="微信公众平台，开发，基本配置，复制AppID，粘贴到此处" class="am-radius notice_phone" value="{{if !empty($data['wxpub_appid'])}}{{$data.wxpub_appid}}{{/if}}" />
                        <label>微信公众平台AppSecret<span class="am-form-group-label-tips">通知方式为微信公众号时，必填</span></label>
                        <input type="text" name="wxpub_appsecret" placeholder="微信公众平台，开发，基本配置，复制AppSecret，粘贴到此处" class="am-radius" value="{{if !empty($data['wxpub_appsecret'])}}{{$data.wxpub_appsecret}}{{/if}}" />
                        <label>微信公众号二维码</label><span class="am-form-group-label-tips">接收通知前，用户需关注公众号并授权。流程：下单后 → 已授权（未授权，扫码授权） → 提示关注公众号</span>
                        <ul class="plug-file-upload-view wxpub_qrcode" data-form-name="wxpub_qrcode[]" data-max-number="1" data-delete="1" data-dialog-type="images">
                            {{if !empty($data['wxpub_qrcode'])}}
                                {{foreach $data['wxpub_qrcode'] as $wxpub_qrcode}}
                                <li>
                                    <input type="text" name="wxpub_qrcode[]" value="{{$wxpub_qrcode}}" data-validation-message="请上传图片" required />
                                    <img src="{{$wxpub_qrcode}}" onerror='this.src="{{$attachment_host}}/static/plugins/images/optimizer/default-images.jpg"' />
                                    <i>×</i>
                                </li>
                                {{/foreach}}
                            {{/if}}
                            <div class="plug-file-upload-submit" data-view-tag="ul.wxpub_qrcode">+上传图片</div>
                        </ul>
                        <label>微信小程序AppID<span class="am-form-group-label-tips">通知方式为微信小程序时，必填 <a href="https://mp.weixin.qq.com" target="_blank">点此申请</a> </span></label>
                        <input type="text" name="wxamp_appid" placeholder="微信小程序，开发设置，复制AppID，粘贴到此处" class="am-radius notice_phone" value="{{if !empty($data['wxamp_appid'])}}{{$data.wxamp_appid}}{{/if}}" />
                        <label>微信小程序AppSecret<span class="am-form-group-label-tips">通知方式为微信小程序时，必填</span></label>
                        <input type="text" name="wxamp_appsecret" placeholder="微信小程序，开发设置，复制AppSecret，粘贴到此处" class="am-radius" value="{{if !empty($data['wxamp_appsecret'])}}{{$data.wxamp_appsecret}}{{/if}}" />
                    </div>
                    <div class="am-alert-secondary">
                        <label>短信和邮箱模版支持的标签变量</label>
                        <div>站点名称 ${sitename} 商品名称 ${goodsname} 快递公司名称 ${expname} 快递单号 ${expnum} 用户邮箱 ${mail}<br>收货人姓名/用户名 ${account} 收货人/用户手机号 ${phone} 收货地址 ${address} 订单号  ${ordernum} 订单金额 ${price}</div>
                    </div>
                </div>
            </div>
            <div class="am-panel am-panel-secondary">
                <div class="am-panel-hd">
                    <span class="am-panel-title">新订单提醒</span>
                </div>
                <div class="am-panel-bd">
                    <div class="am-form-group">
                        <label>通知方式</label>
                        <div>
                            {{foreach $sms_bys as $v}}
                            {{if($v['value'] !== 'wxamp')}}
                            <label class="am-checkbox-inline m-r-10">
                                <input type="checkbox" name="neworder_by" value="{{$v.value}}" {{if isset($data['neworder_by']) and in_array($v['value'], explode(',', $data['neworder_by']))}}checked="checked"{{elseif !isset($data['neworder_by']) and isset($v['checked']) and $v['checked'] eq true}}checked="checked"{{/if}} data-am-ucheck /> {{$v.name}}
                            </label>
                            {{/if}}
                            {{/foreach}}
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label>接收提醒的手机号<span class="am-form-group-label-tips">通知方式为手机时，必填，多个请用 半角逗号, 隔开</span></label>
                        <input type="text" name="neworder_sms_phone" placeholder="请先选择国家再输入手机号" class="am-radius notice_phone" value="{{if !empty($data['neworder_sms_phone'])}}{{$data.neworder_sms_phone}}{{/if}}" />
                    </div>
                    <div class="am-form-group">
                        <label>手机通知模版ID<span class="am-form-group-label-tips">通知方式为手机时，必填 <a href="https://www.aliyun.com/acts/alicomcloud/new-discount?userCode=79tttihe" target="_blank">点此申请</a> 格式：国内消息模版ID</span></label>
                        <input type="text" name="neworder_sms_tpl" placeholder="请输入您在阿里云短信获取的模版ID" class="am-radius" value="{{if !empty($data['neworder_sms_tpl'])}}{{$data.neworder_sms_tpl}}{{/if}}" />
                        <span class="am-form-group-label-tips">示例：您有来自账号${account}的新订单${ordernum}，请及时处理！</span>
                    </div>
                    <div class="am-form-group">
                        <label>手机通知签名<span class="am-form-group-label-tips">通知方式为手机时，必填 （签名适用场景：通用）</span></label>
                        <input type="text" name="neworder_sms_signname" placeholder="请输入您在阿里云短信获取的签名" class="am-radius" value="{{if !empty($data['neworder_sms_signname'])}}{{$data.neworder_sms_signname}}{{/if}}" />
                    </div>
                    <div class="am-form-group">
                        <label>接收提醒的邮箱<span class="am-form-group-label-tips">通知方式为邮件时，必填，多个请用 半角逗号, 隔开</span></label>
                        <input type="text" name="neworder_mail_address" placeholder="请输入您接收提醒的邮箱" class="am-radius" value="{{if !empty($data['neworder_mail_address'])}}{{$data.neworder_mail_address}}{{/if}}" />
                    </div>
                    <div class="am-form-group">
                        <label>邮箱通知模版：标题<span class="am-form-group-label-tips">通知方式为邮件时，必填</span></label>
                        <input type="text" name="neworder_mail_tpl_title" placeholder="请输入邮箱通知的标题模版" class="am-radius" value="{{if !empty($data['neworder_mail_tpl_title'])}}{{$data.neworder_mail_tpl_title}}{{/if}}" />
                        <span class="am-form-group-label-tips">示例：${sitename}您有来自账号${account}的新订单</span>
                    </div>
                    <div class="am-form-group">
                        <label>邮箱通知模版：内容<span class="am-form-group-label-tips">通知方式为邮件时，必填</span></label>
                        <input type="text" name="neworder_mail_tpl_content" placeholder="请输入邮箱通知的内容模版" class="am-radius" value="{{if !empty($data['neworder_mail_tpl_content'])}}{{$data.neworder_mail_tpl_content}}{{/if}}" />
                        <span class="am-form-group-label-tips">示例：您有来自账号${account}的新订单${ordernum}，请及时处理！</span>
                    </div>
                    <div class="am-form-group">
                        <label>接收提醒的微信的OpenID（非微信号）<span class="am-form-group-label-tips">通知方式为微信公众号时，必填，多个请用 半角逗号, 隔开</span></label>
                        <input type="text" name="neworder_wxpub_openid" placeholder="请输入您接收提醒的微信的OpenID" class="am-radius" value="{{if !empty($data['neworder_wxpub_openid'])}}{{$data.neworder_wxpub_openid}}{{/if}}" />
                        <span class="am-form-group-label-tips">请您或运营者用微信扫描下方二维码，<b>稍等30秒</b>，OpenID将自动填入</span>
                        <div>
                            <img src="{{:PluginsHomeUrl('notice', 'auth', 'qrcode')}}" width="120px" />
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label>微信公众号模版消息的模版ID<span class="am-form-group-label-tips">通知方式为微信公众号时，必填</span></label>
                        <input type="text" name="neworder_wxpub_tpl" placeholder="请输入您在微信公众平台模版消息获取的模版ID" class="am-radius" value="{{if !empty($data['neworder_wxpub_tpl'])}}{{$data.neworder_wxpub_tpl}}{{/if}}" />
                        <span class="am-form-group-label-tips">微信公众平台，登录公众号，功能，模版消息。在行业模版库搜 <b>新订单提醒</b> 模版，找编号为 <b>OPENTM416739152</b> 的模版。添加后，进入 我的模版，复制模版ID</span>
                    </div>
                </div>
            </div>
            <div class="am-panel am-panel-secondary">
                <div class="am-panel-hd">
                    <span class="am-panel-title">发货通知</span>
                </div>
                <div class="am-panel-bd">
                    <div class="am-form-group">
                        <label>通知方式</label>
                        <div>
                            {{foreach $sms_bys as $v}}
                            <label class="am-checkbox-inline m-r-10">
                                <input type="checkbox" name="asn_by" value="{{$v.value}}" {{if isset($data['asn_by']) and in_array($v['value'], explode(',', $data['asn_by']))}}checked="checked"{{elseif !isset($data['asn_by']) and isset($v['checked']) and $v['checked'] eq true}}checked="checked"{{/if}} data-am-ucheck /> {{$v.name}}
                            </label>
                            {{/foreach}}
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label>手机通知模版ID<span class="am-form-group-label-tips">通知方式为手机时，必填 <a href="https://www.aliyun.com/acts/alicomcloud/new-discount?userCode=79tttihe" target="_blank">点此申请</a> 格式：国内消息模版ID</span></label>
                        <input type="text" name="asn_sms_tpl" placeholder="请输入您在阿里云短信获取的模版ID" class="am-radius" value="{{if !empty($data['asn_sms_tpl'])}}{{$data.asn_sms_tpl}}{{/if}}" />
                        <span class="am-form-group-label-tips">示例：您购买的${goodsname}已发货，快递公司：${expname}，单号：${expnum}，请注意查收！</span>
                    </div>
                    <div class="am-form-group">
                        <label>手机通知签名<span class="am-form-group-label-tips">通知方式为手机时，必填 （签名适用场景：通用）</span></label>
                        <input type="text" name="asn_sms_signname" placeholder="请输入您在阿里云短信获取的签名" class="am-radius" value="{{if !empty($data['asn_sms_signname'])}}{{$data.asn_sms_signname}}{{/if}}" />
                    </div>
                    <div class="am-form-group">
                        <label>邮箱通知模版：标题<span class="am-form-group-label-tips">通知方式为邮件时，必填</span></label>
                        <input type="text" name="asn_mail_tpl_title" placeholder="请输入邮箱通知的标题模版" class="am-radius" value="{{if !empty($data['asn_mail_tpl_title'])}}{{$data.asn_mail_tpl_title}}{{/if}}" />
                        <span class="am-form-group-label-tips">示例：${sitename}您购买的${goodsname}已发货</span>
                    </div>
                    <div class="am-form-group">
                        <label>邮箱通知模版：内容<span class="am-form-group-label-tips">通知方式为邮件时，必填</span></label>
                        <input type="text" name="asn_mail_tpl_content" placeholder="请输入邮箱通知的内容模版" class="am-radius" value="{{if !empty($data['asn_mail_tpl_content'])}}{{$data.asn_mail_tpl_content}}{{/if}}" />
                        <span class="am-form-group-label-tips">示例：您购买的${goodsname}已发货，快递公司：${expname}，单号：${expnum}，请注意查收！</span>
                    </div>
                    <div class="am-form-group">
                        <label>微信公众号模版消息的模版ID<span class="am-form-group-label-tips">通知方式为微信公众号时，必填</span></label>
                        <input type="text" name="asn_wxpub_tpl" placeholder="请输入您在微信公众平台模版消息获取的模版ID" class="am-radius" value="{{if !empty($data['asn_wxpub_tpl'])}}{{$data.asn_wxpub_tpl}}{{/if}}" />
                        <span class="am-form-group-label-tips">微信公众平台，登录公众号，功能，模版消息。在行业模版库搜 <b>发货提醒</b> 模版，找编号为 <b>OPENTM414274800</b> 的模版。添加后，进入 我的模版，复制模版ID</span>
                    </div>
                    <div class="am-form-group">
                        <label>微信小程序订阅消息的模版ID<span class="am-form-group-label-tips">通知方式为微信小程序时，必填。修改后，请重新生成微信小程序。导入微信开发者工具，真机调试，下单看授权提示能否弹出，发货看能否收到通知。没问题上传审核</span></label>
                        <input type="text" name="asn_wxamp_tpl" placeholder="请输入您在微信小程序模版消息获取的模版ID" class="am-radius" value="{{if !empty($data['asn_wxamp_tpl'])}}{{$data.asn_wxamp_tpl}}{{/if}}" />
                        <span class="am-form-group-label-tips">微信公众平台，登录小程序，功能，订阅消息。在公共模版库搜 <b>发货通知</b> 模版（名称需是<b>发货通知</b>4个字），关键词选 <b>商品名称，快递公司，快递单号，收货人和订单号</b>，排序自定。复制模版ID</span>
                    </div>
                </div>
            </div>
            <div class="am-form-group am-form-group-refreshing">
                <button type="submit" class="am-btn am-btn-primary am-radius btn-loading-example am-btn-sm am-btn-block" data-am-loading="{loadingText:'处理中...'}">保存</button>
            </div>
        </form>
        <!-- form end -->
    </div>
</div>
<!-- right content end  -->
<!-- footer start -->
{{include file="public/footer" /}}
<!-- footer end -->
<script>
    var timer = null
    $.ajax({
        url: '{{:PluginsHomeUrl("notice", "auth", "wxopenid")}}',
        timeout: 3000,
        error: function(xhr) {
            var _this = this
            clearTimeout(timer);
            timer = setTimeout(function() {$.ajax(_this);}, 4500);
        },
        dataType: 'json',
        complete: function(xhr) {
            var _this = this, t = $('input[name=neworder_wxpub_openid]'), j = xhr.responseJSON
            if (j && j.code === 1 && j.data) {
                t.val($.unique((t.val() ? t.val().split(',') : []).concat(j.data.openid ? j.data.openid.split(',') : [])).join(','));
            }
            clearTimeout(timer);
            timer = setTimeout(function() {$.ajax(_this);}, 4500);
        }
    })
</script>