{{include file="public/header" /}}

<!-- right content start  -->
<div class="content-right">
    <div class="content">
        <legend>
            <span class="fs-16">加速优化<sup>M站 · Y站</sup></span>
            <a href="{{:MyUrl('admin/pluginsadmin/index')}}" class="fr fs-14 m-t-5 am-icon-mail-reply"> 返回</a>
        </legend>
        {{$wga_tip | RAW}}
        <div class="optimizer-content">
            <div class="am-panel am-panel-secondary">
                <div class="am-panel-hd">
                    <span class="am-panel-title">基础</span>
                </div>
                <div class="am-panel-bd">
                    <div class="items">
                        <label>缓存时间</label>
                        <div>
                            {{if !empty($data['cache_time'])}}{{$data['cache_time']}}{{else /}}{{$conf['cache_time']}}{{/if}}
                        </div>
                    </div>
                    <div class="items">
                        <label>任务数</label>
                        <div>
                            {{if !empty($data['task_num'])}}{{$data['task_num']}}{{else /}}{{$conf['task_num']}}{{/if}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="am-panel am-panel-secondary">
                <div class="am-panel-hd">
                    <span class="am-panel-title">加速</span>
                </div>
                <div class="am-panel-bd">
                    <div class="items">
                        <label>静态资源加速</label>
                        <div>
                            {{if !empty($data['available_static'])}}已开启{{else /}}已关闭{{/if}}
                        </div>
                    </div>
                    <div class="items">
                        <label>图片加速</label>
                        <div>
                            {{if !empty($data['available_pic_wga'])}}已开启{{else /}}已关闭{{/if}}
                        </div>
                    </div>
                    <div class="items">
                        <label>DNS加速</label>
                        <div>
                            {{if !empty($data['available_dns'])}}已开启{{else /}}准备中{{/if}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="am-panel am-panel-secondary">
                <div class="am-panel-hd">
                    <span class="am-panel-title">优化</span>
                </div>
                <div class="am-panel-bd">
                    <div class="items">
                        <label>图片防盗链</label>
                        <div>
                            {{if !empty($data['anti_stealing_link'])}}已开启{{else /}}已关闭{{/if}}
                        </div>
                    </div>
                    <div class="items">
                        <label>图片加水印</label>
                        <div>
                            {{if !empty($data['watermark_path'])}}
                                {{foreach $data['watermark_path'] as $watermark_path}}
                                <a href="{{$watermark_path}}" target="_blank">
                                    <img src="{{$watermark_path}}" onerror='this.src="{{$attachment_host}}/static/plugins/images/optimizer/default-images.jpg"' class="am-radius" width="100" />
                                </a>
                                {{/foreach}}
                            {{else /}}
                                <span>无水印</span>
                            {{/if}}
                        </div>
                        <br>
                        <label>水印位置</label>
                        <div>
                            {{if !empty($data['watermark_pos']) && !empty($conf['watermark_pos'][$data['watermark_pos']]) }} {{$conf['watermark_pos'][$data['watermark_pos']]['name']}} {{else}} {{$conf['watermark_pos'][0]['name']}} {{/if}}
                        </div>
                    </div>
                    <div class="items">
                        <label>百度搜索引擎主动投递</label>
                        <div>
                            {{if !empty($data['available_seo_baidu_push'])}}已开启{{else /}}已关闭{{/if}}
                        </div>
                    </div>
                </div>
            </div>
            <a href="{{:PluginsAdminUrl('optimizer', 'admin', 'saveinfo')}}" class="am-btn am-btn-secondary am-radius btn-loading-example am-btn-sm am-btn-block edit-submit">编辑</a>
        </div>
    </div>
</div>
<!-- right content end  -->

<!-- footer start -->
{{include file="public/footer" /}}
<!-- footer end -->