{{include file="public/header" /}}

<!-- right content start  -->
<div class="content-right">
    <div class="content">
        <legend>
            <span class="fs-16">加速优化<sup>M站 · Y站</sup></span>
            <a href="{{:MyUrl('admin/pluginsadmin/index')}}" class="fr fs-14 m-t-5 am-icon-mail-reply"> 返回</a>
        </legend>
        {{$wga_tip | RAW}}
        <div class="optimizer-content">
            <div class="am-panel am-panel-secondary">
                <div class="am-panel-hd">
                    <span class="am-panel-title">基础</span>
                </div>
                <div class="am-panel-bd">
                    <div class="items">
                        <label>缓存时间</label>
                        <div>
                            {{if !empty($data['cache_time'])}}{{$data['cache_time']}}{{else /}}{{$conf['cache_time']}}{{/if}}
                        </div>
                    </div>
                    <div class="items">
                        <label>任务数</label>
                        <div>
                            {{if !empty($data['task_num'])}}{{$data['task_num']}}{{else /}}{{$conf['task_num']}}{{/if}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="am-panel am-panel-secondary">
                <div class="am-panel-hd">
                    <span class="am-panel-title">加速</span>
                </div>
                <div class="am-panel-bd">
                    <div class="items" style="display:none">
                        <label>静态资源加速</label>
                        <div>
                            {{if !empty($data['available_static'])}}已开启{{else /}}已关闭{{/if}}
                        </div>
                    </div>
                    <div class="items">
                        <label>图片加速</label>
                        <div>
                            {{if !empty($data['available_pic'])}}已开启{{else /}}已关闭{{/if}}
                        </div>
                    </div>
                    <div class="items">
                        <label>DNS与静态加速</label>
                        <div>
                            {{if !empty($data['available_dns'])}}提交域名给客服开启，已提交请忽略{{else /}}准备中{{/if}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="am-panel am-panel-secondary">
                <div class="am-panel-hd">
                    <span class="am-panel-title">优化</span>
                </div>
                <div class="am-panel-bd">
                    <div class="items">
                        <label>图片加水印</label>
                        <div>
                            {{if !empty($data['watermark_path'])}}
                                {{foreach $data['watermark_path'] as $watermark_path}}
                                <a href="{{$watermark_path}}" target="_blank">
                                    <img src="{{$watermark_path}}" onerror='this.src="{{$attachment_host}}/static/plugins/images/optimizer/default-images.jpg"' class="am-radius" width="100" />
                                </a>
                                {{/foreach}}
                            {{else /}}
                                <span>无水印</span>
                            {{/if}}
                        </div>
                        <label>水印位置</label>
                        <div>
                            {{if !empty($data['watermark_pos']) && !empty($conf['watermark_pos'][$data['watermark_pos']])}} {{$conf['watermark_pos'][$data['watermark_pos']]['name']}} {{else}} {{$conf['watermark_pos'][0]['name']}} {{/if}}
                        </div>
                    </div>
                    <div class="items">
                        <label>百度搜索引擎主动投递</label>
                        <div>
                            {{if !empty($data['available_seo_baidu_push'])}}已开启{{else /}}已关闭{{/if}}
                        </div>
                    </div>
                </div>
            </div>
            <a href="{{:PluginsAdminUrl('optimizer', 'admin', 'saveinfo')}}" class="am-btn am-btn-secondary am-radius btn-loading-example am-btn-sm am-btn-block edit-submit">编辑</a>
            <br>
            <div class="am-panel am-panel-secondary">
                <div class="am-panel-hd">
                    <span class="am-panel-title">使用须知</span>
                </div>
                <div class="am-panel-bd">
                    <div class="items">
                        <label>首次使用需配置伪静态，请根据<b>运行环境</b>，复制规则：</label></span>
                        <div>
                            {{foreach $conf['rewrite'] as $server => $rewrite}}
                                <label>运行环境：{{$server}}</label>
                                <pre><code>{{$rewrite}}</code></pre>
                            {{/foreach}}
                        </div>
                        <span class="am-form-group-label-tips">
                            1 加速前需根据<b>运行环境</b>，配置<b>伪静态规则</b>。卸载前，建议先关闭 静态文件加速<br>
                            2 宝塔面板 → 软件管理 → 运行环境，可知当前<b>运行环境</b><br>
                            3 ShopXO及ThinkPHP用户，请绑定域名到 public 或 在宝塔 → 网站 → 设置 → 网站目录，设置运行目录为 /public<br>
                            4 防跨站攻击 需关闭 或 开启open_basedir。宝塔面板 → 网站 → 设置 → 网站目录，关闭 防跨站攻击，然后再重复第5步<br>
                            5 宝塔用户，宝塔面板 → 网站 → 设置 → 伪静态，复制当前<b>运行环境</b>对应规则，保存即可<br>
                            6 Apache / Kangle等大多数PHP虚拟主机用户，请复制 Apache/Kangle 规则到 public/.htaccess 文件，没有请新建<br>
                            7 IIS等ASP/ASPX/全能虚拟主机用户，请复制 IIS 规则到 public/web.config文件，没有请新建<br>
                            8 Nginx用户，请复制 Nginx 规则到 nginx.conf 中<br>
                            9 <a href="https://yu.mantoufan.com/202009291530371649" target="_blank">图文教程</a><br>
                            10 我们提供付费技术支持，您只需提供权限，远程帮您完成所有配置。人力成本远远大于商品，望理解！
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- right content end  -->

<!-- footer start -->
{{include file="public/footer" /}}
<!-- footer end -->