{{include file="public/header" /}}
<!-- right content start  -->
<div class="content-right">
    <div class="content">
        <!-- form start -->
        <form class="am-form form-validation view-save" action="{{:PluginsAdminUrl('optimizer', 'admin', 'save')}}" method="POST" request-type="ajax-url" request-value="{{:PluginsAdminUrl('optimizer', 'admin', 'index')}}" enctype="multipart/form-data">
            <legend>
                <span class="fs-16">加速优化<sup>M站 · Y站</sup></span>
                <a href="{{:PluginsAdminUrl('optimizer', 'admin', 'index')}}" class="fr fs-14 m-t-5 am-icon-mail-reply"> 返回</a>
            </legend>
            {{$wga_tip | RAW}}
            <div class="am-panel am-panel-secondary">
                <div class="am-panel-hd">
                    <span class="am-panel-title">加速</span>
                </div>
                <div class="am-panel-bd">
                    <div class="am-form-group">
                        <label>静态资源加速</label>
                        <div>
                            <input name="available_static" value="1" type="checkbox" data-off-text="否" data-on-text="是" data-size="xs" data-on-color="success" data-off-color="default" data-handle-width="50" data-am-switch {{if isset($data['available_static']) and $data['available_static'] eq 1}}checked="true"{{/if}} />
                        </div>
                    </div>
                    <div class="am-form-group am-form-file">
                        <label>图片加速</label>
                        <div>
                            <input name="available_pic_wga" value="1" type="checkbox" data-off-text="否" data-on-text="是" data-size="xs" data-on-color="success" data-off-color="default" data-handle-width="50" data-am-switch {{if isset($data['available_pic_wga']) and $data['available_pic_wga'] eq 1}}checked="true"{{/if}} />
                        </div>
                    </div>
                    <div class="am-form-group am-form-file">
                        <label>DNS加速</label><span class="am-form-group-label-tips">该功能默认开启，不可关闭</span>
                        <div>
                            <input name="available_dns" value="1" type="checkbox" data-off-text="否" data-on-text="是" data-size="xs" data-on-color="success" data-off-color="default" data-handle-width="50" data-am-switch readonly checked="true" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="am-panel am-panel-secondary">
                <div class="am-panel-hd">
                    <span class="am-panel-title">优化</span>
                </div>
                <div class="am-panel-bd">
                    <div class="am-form-group">
                        <label>图片防盗链</label>
                        <div>
                            <input name="available_pic_safe" value="1" type="checkbox" data-off-text="否" data-on-text="是" data-size="xs" data-on-color="success" data-off-color="default" data-handle-width="50" data-am-switch {{if isset($data['available_auto_fav']) and $data['available_auto_fav'] eq 1}}checked="true"{{/if}} />
                        </div>
                    </div>
                    <div class="am-form-group am-form-file">
                        <label>图片加水印</label>
                        <ul class="plug-file-upload-view pic_watermark" data-form-name="pic_watermark[]" data-max-number="1" data-delete="1" data-dialog-type="images">
                            {{if !empty($data['pic_watermark'])}}
                                {{foreach $data['pic_watermark'] as $pic_watermark}}
                                <li>
                                    <input type="text" name="pic_watermark[]" value="{{$pic_watermark}}" data-validation-message="请上传图片" required />
                                    <img src="{{$pic_watermark}}" onerror='this.src="{{$attachment_host}}/static/plugins/images/optimizer/default-images.jpg"' />
                                    <i>×</i>
                                </li>
                                {{/foreach}}
                            {{/if}}
                        </ul>
                        <div class="plug-file-upload-submit" data-view-tag="ul.pic_watermark">+上传图片</div>
                        <br>
                        <br>
                        <label>水印位置</label>
                        <br>
                        {{foreach $conf['pic_watermark_pos'] as $v}}
                            <label class="am-radio-inline m-r-10">
                                <input type="radio" name="pic_watermark_pos" value="{{$v.id}}" {{if isset($data['pic_watermark_pos']) and $data['pic_watermark_pos'] eq $v['id']}}checked="checked"{{else /}}{{if !isset($data['pic_watermark_pos']) and isset($v['checked']) and $v['checked'] eq true}}checked="checked"{{/if}}{{/if}} data-am-ucheck /> {{$v.name}}
                            </label>
                        {{/foreach}}
                    </div>
                    <div class="am-form-group am-form-file">
                        <label>百度主动投递</label><span class="am-form-group-label-tips">将用户浏览页面投递给百度，通知蜘蛛抓取</span>
                        <div>
                            <input name="available_seo_baidu_push" value="1" type="checkbox" data-off-text="否" data-on-text="是" data-size="xs" data-on-color="success" data-off-color="default" data-handle-width="50" data-am-switch {{if isset($data['available_seo_baidu_push']) and $data['available_seo_baidu_push'] eq 1}}checked="true"{{/if}} />
                        </div>
                    </div>
                </div>
            </div>
            <div class="am-form-group am-form-group-refreshing">
                <button type="submit" class="am-btn am-btn-primary am-radius btn-loading-example am-btn-sm am-btn-block" data-am-loading="{loadingText:'处理中...'}">保存</button>
            </div>
        </form>
        <!-- form end -->
    </div>
</div>
<!-- right content end  -->

<!-- footer start -->
{{include file="public/footer" /}}
<!-- footer end -->