{{include file="public/header" /}}
<!-- right content start  -->
<div class="content-right">
    <div class="content">
        <!-- form start -->
        <form class="am-form form-validation view-save" action="{{:PluginsAdminUrl('optimizer', 'admin', 'save')}}" method="POST" request-type="ajax-url" request-value="{{:PluginsAdminUrl('optimizer', 'admin', 'index')}}" enctype="multipart/form-data">
            <legend>
                <span class="fs-16">加速优化<sup>M站 · Y站</sup></span>
                <a href="{{:PluginsAdminUrl('optimizer', 'admin', 'index')}}" class="fr fs-14 m-t-5 am-icon-mail-reply"> 返回</a>
            </legend>
            {{$wga_tip | RAW}}
            <div class="am-panel am-panel-secondary">
                <div class="am-panel-hd">
                    <span class="am-panel-title">基础</span>
                </div>
                <div class="am-panel-bd">
                    <div class="am-form-group">
                        <label>缓存时间</label><span class="am-form-group-label-tips">仅影响插件缓存。手动更新：工具 → 更新缓存 → 站点缓存</span>
                        <div>
                            <input type="number" name="cache_time" value="{{if isset($data['cache_time'])}}{{$data['cache_time']}}{{else /}}{{$conf['cache_time']}}{{/if}}" min="60"/>
                        </div>
                    </div>
                    <div class="am-form-group am-form-file">
                        <label>任务数</label><span class="am-form-group-label-tips">服务器配置高，数值可调大。如果大量出现503和500等错误，请减少任务数</span>
                        <div>
                            <input type="number" name="task_num" value="{{if isset($data['task_num'])}}{{$data['task_num']}}{{else /}}{{$conf['task_num']}}{{/if}}" min="1" max="50"/>
                        </div>
                    </div>
                    <div class="am-form-group am-form-file">
                        <label>强制刷新缓存</label><span class="am-form-group-label-tips">不刷新不填。刷新请输入000，点保存</span>
                        <div>
                            <input type="text" name="cache_reset" value=""/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="am-panel am-panel-secondary">
                <div class="am-panel-hd">
                    <span class="am-panel-title">加速</span>
                </div>
                <div class="am-panel-bd">
                    <div class="am-form-group">
                        <label>静态资源加速</label>
                        <div>
                            <input name="available_static" value="1" type="checkbox" data-off-text="否" data-on-text="是" data-size="xs" data-on-color="success" data-off-color="default" data-handle-width="50" data-am-switch {{if isset($data['available_static']) and $data['available_static'] eq 1}}checked="true"{{/if}} />
                        </div>
                    </div>
                    <div class="am-form-group am-form-file">
                        <label>图片加速</label>
                        <div>
                            <input name="available_pic" value="1" type="checkbox" data-off-text="否" data-on-text="是" data-size="xs" data-on-color="success" data-off-color="default" data-handle-width="50" data-am-switch {{if isset($data['available_pic']) and $data['available_pic'] eq 1}}checked="true"{{/if}} />
                        </div>
                    </div>
                    <div class="am-form-group am-form-file">
                        <label>DNS加速</label><span class="am-form-group-label-tips">该功能默认开启，不可关闭</span>
                        <div>
                            <input name="available_dns" value="1" type="checkbox" data-off-text="否" data-on-text="是" data-size="xs" data-on-color="success" data-off-color="default" data-handle-width="50" data-am-switch readonly checked="true" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="am-panel am-panel-secondary">
                <div class="am-panel-hd">
                    <span class="am-panel-title">优化</span>
                </div>
                <div class="am-panel-bd">
                    <div class="am-form-group">
                        <label>防盗链</label>
                        <div>
                            <input name="anti_stealing_link_pic" value="1" type="checkbox" data-off-text="否" data-on-text="是" data-size="xs" data-on-color="success" data-off-color="default" data-handle-width="50" data-am-switch {{if isset($data['anti_stealing_link_pic']) and $data['anti_stealing_link_pic'] eq 1}}checked="true"{{/if}} />
                        </div>
                    </div>
                    <div class="am-form-group am-form-file">
                        <label>图片加水印</label><span class="am-form-group-label-tips">水印尺寸尽量小，30-120像素为宜。图片尺寸除水印尺寸小于5，会被当作小图不加水印。推荐24位+PNG格式水印，可完美保留透明度</span>
                        <ul class="plug-file-upload-view watermark_path" data-form-name="watermark_path[]" data-max-number="1" data-delete="1" data-dialog-type="images">
                            {{if !empty($data['watermark_path'])}}
                                {{foreach $data['watermark_path'] as $watermark_path}}
                                <li>
                                    <input type="text" name="watermark_path[]" value="{{$watermark_path}}" data-validation-message="请上传图片" required />
                                    <img src="{{$watermark_path}}" onerror='this.src="{{$attachment_host}}/static/plugins/images/optimizer/default-images.jpg"' />
                                    <i>×</i>
                                </li>
                                {{/foreach}}
                            {{/if}}
                        </ul>
                        <div class="plug-file-upload-submit" data-view-tag="ul.watermark_path">+上传图片</div>
                        <br>
                        <br>
                        <label>水印位置</label>
                        <br>
                        {{foreach $conf['watermark_pos'] as $id => $v}}
                            <label class="am-radio-inline m-r-10">
                                <input type="radio" name="watermark_pos" value="{{$id}}" {{if isset($data['watermark_pos']) and $data['watermark_pos'] eq $id}}checked="checked"{{else /}}{{if !isset($data['watermark_pos']) and isset($v['checked']) and $v['checked'] eq true}}checked="checked"{{/if}}{{/if}} data-am-ucheck /> {{$v.name}}
                            </label>
                        {{/foreach}}
                    </div>
                    <div class="am-form-group am-form-file">
                        <label>百度主动投递</label><span class="am-form-group-label-tips">将用户浏览页面投递给百度，通知蜘蛛抓取</span>
                        <div>
                            <input name="available_seo_baidu_push" value="1" type="checkbox" data-off-text="否" data-on-text="是" data-size="xs" data-on-color="success" data-off-color="default" data-handle-width="50" data-am-switch {{if isset($data['available_seo_baidu_push']) and $data['available_seo_baidu_push'] eq 1}}checked="true"{{/if}} />
                        </div>
                    </div>
                </div>
            </div>
            <div class="am-form-group am-form-group-refreshing">
                <button type="submit" class="am-btn am-btn-primary am-radius btn-loading-example am-btn-sm am-btn-block" data-am-loading="{loadingText:'处理中...'}">保存</button>
            </div>
        </form>
        <!-- form end -->
    </div>
</div>
<!-- right content end  -->

<!-- footer start -->
{{include file="public/footer" /}}
<!-- footer end -->